---
export interface Props {
	navitem1: string;
	navitem2: string;
	navitem3: string;
	navitem4: string;
	href1: string;
	href2: string;
	href3: string;
	href4: string;
	hrefLogo: string;
	language1: string;
	language2: string;
	languagePicker: string;
}

const { navitem1, navitem2, navitem3, navitem4, href1, href2, href3, href4, hrefLogo, language1, language2, languagePicker } = Astro.props;

import logo from "../assets/Oater-Logo.svg";
---

<header class="bg-white shadow-sm z-20 h-24 top-0">
	<nav class="mx-auto max-w-7xl px-10">
		<div class="lg:flex flex-row h-24 place-items-center place-content-center font-zen hidden">
			<div class="basis-[42%] justify-between flex flex-row">
				<div class="relative group">
					<a href={href1} class="uppercase font-zen hover:text-sonic text-raisin transition-all ease-in-out duration-500">
						{navitem1}
						<svg
							xmlns="http://www.w3.org/2000/svg"
							fill="none"
							viewBox="0 0 24 24"
							stroke-width="1.5"
							stroke="currentColor"
							class="inline w-5 h-5 mb-0.5"
						>
							<path stroke-linecap="round" stroke-linejoin="round" d="M19.5 8.25l-7.5 7.5-7.5-7.5"></path>
						</svg>
					</a>

					<div class="absolute group-hover:visible invisible z-10 pt-3 w-screen max-w-xs px-2 sm:px-0">
						<slot name="dropdown1" />
					</div>
				</div>
				<div class="relative group">
					<a href={href2} class="uppercase font-zen hover:text-sonic text-raisin transition-all ease-in-out duration-500">
						{navitem2}
						<svg
							xmlns="http://www.w3.org/2000/svg"
							fill="none"
							viewBox="0 0 24 24"
							stroke-width="1.5"
							stroke="currentColor"
							class="inline w-5 h-5 mb-0.5"
						>
							<path stroke-linecap="round" stroke-linejoin="round" d="M19.5 8.25l-7.5 7.5-7.5-7.5"></path>
						</svg>
					</a>
					<div class="absolute group-hover:visible invisible left-1/2 z-10 pt-3 w-screen max-w-xs -translate-x-1/2 px-2 sm:px-0">
						<slot name="dropdown2" />
					</div>
				</div>
				<div class="relative group">
					<a href={href3} class="uppercase font-zen hover:text-sonic text-raisin transition-all ease-in-out duration-500 hover:visible">
						{navitem3}
						<svg
							xmlns="http://www.w3.org/2000/svg"
							fill="none"
							viewBox="0 0 24 24"
							stroke-width="1.5"
							stroke="currentColor"
							class="inline w-5 h-5 mb-0.5"
						>
							<path stroke-linecap="round" stroke-linejoin="round" d="M19.5 8.25l-7.5 7.5-7.5-7.5"></path>
						</svg>
					</a>
					<div class="absolute group-hover:visible invisible left-1/2 z-10 pt-3 w-screen max-w-xs -translate-x-1/2 px-2 sm:px-0">
						<slot name="dropdown3" />
					</div>
				</div>
				<div></div>
			</div>
			<div class="basis-[16%] shrink-0 overflow-visible">
				<a href={hrefLogo}>
					<img class="w-44 mx-auto" src={logo} alt="Logo The Oater" />
				</a>
			</div>
			<div class="basis-[32%] relative group">
				<a href={href4} class="pl-[19%] uppercase font-zen hover:text-sonic text-raisin transition-all ease-in-out duration-500">
					{navitem4}
					<svg
						xmlns="http://www.w3.org/2000/svg"
						fill="none"
						viewBox="0 0 24 24"
						stroke-width="1.5"
						stroke="currentColor"
						class="inline w-5 h-5 mb-0.5"
					>
						<path stroke-linecap="round" stroke-linejoin="round" d="M19.5 8.25l-7.5 7.5-7.5-7.5"></path>
					</svg>
				</a>
				<div class="absolute group-hover:visible invisible z-10 pt-3">
					<slot name="dropdown4" />
				</div>
			</div>

			<div class="basis-[10%] relative group hover:text-raisin text-sonic/50">
				<a href={href4} class="float-right uppercase font-zen transition-all ease-in-out duration-500">
					{languagePicker}
					<svg
						xmlns="http://www.w3.org/2000/svg"
						fill="none"
						viewBox="0 0 24 24"
						stroke-width="1.5"
						stroke="currentColor"
						class="inline w-5 h-5 mb-0.5"
					>
						<path stroke-linecap="round" stroke-linejoin="round" d="M19.5 8.25l-7.5 7.5-7.5-7.5"></path>
					</svg>
				</a>
				<div class="absolute group-hover:visible invisible z-10 pt-10">
					<div class="overflow-hidden rounded-lg shadow-lg ring-1 ring-black ring-opacity-5">
						<div class="relative grid gap-6 bg-white px-5 py-6 sm:gap-8 sm:p-8">
							<a href="#" class="-m-4 block rounded-md p-3 transition duration-150 ease-in-out hover:bg-zinc-100">
								<p class="text-raisin font-medium">{language1}</p>
							</a>
							<a href="#" class="-m-4 block rounded-md p-3 transition duration-150 ease-in-out hover:bg-zinc-100">
								<p class="text-raisin font-medium">{language2}</p>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="flex lg:hidden flex-row h-24 place-items-center justify-between">
			<div>
				<a href="/">
					<img class="w-40 mx-auto" src={logo} alt="" />
				</a>
			</div>
			<div class="text-raisin">
				<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="w-7 h-7">
					<path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"></path>
				</svg>
			</div>
		</div>
	</nav>
</header>
