---
export interface Props {
    id?: string;
    imgUrl: string;
    title: string;
    mixpropertiesData: Array;
}

const { id, mixpropertiesData, imgUrl, title } = Astro.props;
---

<section id={id}>
    <div class="mx-auto max-w-7xl py-14 px-10">
        <div class="text-center">
            <h2 class="underline-4xl text-4xl font-bold text-raisin">{title}</h2>
        </div>
        <div class="mt-12 flex flex-col items-center lg:mt-20 lg:flex-row">
            <div class="basis-1/2">
                <img class="max-w-lg lg:w-full ml-20" src={imgUrl} style="max-width: 320px; height: auto"/>  <!-- Change the Image size and position ml-20 -->
            </div>

            <div class="flex basis-1/2 flex-col items-center sm:gap-6 lg:gap-8">
                {
                    mixpropertiesData.map((properties) => (
                        <div class="flex flex-col items-center lg:flex-row">
                            <img src={properties.icon} alt="" class="-ml-5 h-24 place-self-start pr-4" />

                            <div class="flex max-w-3xl flex-col">
                                <span class="font-zen text-lg uppercase text-raisin">{properties.title}</span>
                                <div class="pt-2 leading-relaxed text-sonic">{properties.text}</div>
                            </div>
                        </div>
                    ))
                }
            </div>
        </div>
    </div>
</section>
