---
export interface Props {
    title?: string;
    bgcolor?: string;
    id?: string;
    cardData: Array;
}
const { title, bgcolor, id, cardData } = Astro.props;
---

<div class={bgcolor} id={id}>
    <div class="mx-auto max-w-7xl py-14 px-10 text-center">
        <h2 class="underline-4xl text-4xl font-bold">{title}</h2>
        <div class="mt-6 grid grid-cols-1 gap-8 py-8 md:grid-cols-2 lg:grid-cols-3">
            {
                cardData.map((card, index) => (
                    <div class={`outline-3 rounded-2xl outline ${index % 2 === 0 ? "outline-sonic" : "outline-oat"}`}>
                        <div class="px-5 pb-6">
                            <img src={card.icon} class="mx-auto w-48" />
                            <div class="text-center text-raisin">
                                <span class="font-zen text-lg uppercase">{card.title}</span>
                                <p class="pt-4 leading-loose">{card.text}</p>
                            </div>
                        </div>
                    </div>
                ))
            }
        </div>
    </div>
</div>
